<div class="content-fluid">
	<ul class="nav nav-pills nav-stacked">
	<li role="presentation" class="active"><%= link_to "Meu Topbox",find_mytopbox%></li>
	<li role="presentation" ><%= link_to "Compartilhados Comigo", :controller => :folders, :action => :shared
%></li>
	<li role="presentation" ><a href="#">Meus Arquivos Compartilhados</a></li>
	</ul>
</div>