<div class="content-fluid">
	<ul class="nav nav-pills nav-stacked">
	<li role="presentation" ><%= link_to "Meu Topbox",find_mytopbox, :onclick => 'refresh()'%></li>
	<li role="presentation" ><%= link_to "Compartilhados Comigo", :controller => :folders, :action => :shared
%></li>
	<li role="presentation" ><%= link_to "Meus Compartilhamentos", permissions_path%></li>
	</ul>
</div>