<div class="form">

<%= form_for @document do |d| %>

    Name: <%= d.text_field :name %>

      <!-- Conteudo -->
    <div class="form-group">
      <%= d.text_area(:content, class: "form-control", rows: "5") %>
    </div>

    <%= d.submit "Save changes" %>
<% end %>

</div>
