<div class="form">


<!-- A ideia é que o usuario apenas tenha que digitar o nome do arquivo para poder criá-lo. Se não digitar nome, tem que haver um default.
     O usuario não sera redirecionado para a janela do arquivo. Ele apenar será redirecionado se clicar no ícone-->

<%= form_for (@document) do |d| %>

    Documento sem título <!-- < %= d.text_field :name %> -->

    <!-- Conteudo -->
    <%= d.text_field :content %>

    <%= d.submit 'Salvar' %>
<% end %>

</div>



<!--
< %= form_tag :action => 'create' do %>
    Nome: < %= text_field :documents, :nome %>
    Conteudo: < %= text_field :documents, :endereco %>
    %= submit_tag 'Criar' %>
< % end %>
-->

