<div class="form">


<!-- A ideia é que o usuario apenas tenha que digitar o nome do arquivo para poder criá-lo. Se não digitar nome, tem que haver um default.
     O usuario não sera redirecionado para a janela do arquivo. Ele apenar será redirecionado se clicar no ícone-->

<%= form_for (@document) do |d| %>

    Documento sem título <!-- < %= d.text_field :name %> -->

      <!-- Conteudo -->
      <div class="form-group">
        <%= d.text_area(:content, class: "form-control", rows: "5") %>
      </div>

    <%= d.submit 'Salvar' %>
    <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>

<% end %>

</div>


