<% if current_user_notifications.empty? %>
    <li><a href="#"><%= NotificationsHelper::DEFAULT_MESSAGE_NO_NOTIFICATIONS %></a></li>
<% end %>

<%  current_user_notifications.each do |notification| %>
    <li>
      <%= link_to "#{notification.notified_by.get_name} compartilhou o documento #{notification.document.name} com você.", document_path(notification.document) %>
    </li>
<% end %>

