<nav class="navbar navbar-default navbar-static-top">
	<ul>
		<li>
			<a class="navbar-brand" href="/home">
        		<%= image_tag('topbox_logo.png', :size => '130x40', :alt => 'logo') %>
    		</a>
		</li>
		<li class="form-inline pull-right">
			<input class="form-control" type="text" placeholder="Search">
			<i class="glyphicon glyphicon-search" style="color:#045FB4"></i>
		</li>
	</ul>
</nav>