  <div id="wrapper">
      <!-- Accordion -->
  	<div id="sidebar-wrapper">
  		<div class="user-info">
  			<div class="avatar">
  				<%= image_tag('user.jpg', :alt => '') %>
			</div>
  			Bem-vindo, nome do usuário! <% current_user.email %>
  		</div>
  		<br>
     		<div class="list-group" id="sidebar">
         		<a href="#demo3" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu"><i class="glyphicon glyphicon-folder-open ic"></i>Item 3</a>
         			<div class="collapse in" id="demo3">
             			<a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1"><i class="glyphicon glyphicon-folder-open ic"></i>Subitem 1</a>
             			<div class="collapse in list-group-submenu" id="SubMenu1">
                			<a href="#" class="active list-group-item" data-parent="#SubMenu1"><i class="glyphicon glyphicon-file ic"></i>Subitem 1 a</a>
                			<a href="#" class="list-group-item" data-parent="#SubMenu1"><i class="glyphicon glyphicon-file ic"></i>Subitem 2 b</a>
                			<a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1"><i class="glyphicon glyphicon-folder-open ic"></i>Subitem 3 c <i class="fa fa-caret-down"></i></a>
                			<div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                  			<a href="#" class="list-group-item" data-parent="#SubSubMenu1"><i class="glyphicon glyphicon-file ic"></i>Sub sub item 1</a>
                  			<a href="#" class="list-group-item" data-parent="#SubSubMenu1"><i class="glyphicon glyphicon-file ic"></i>Sub sub item 2</a>
                			</div>
              		</div>
              		<a href="javascript:;" class="list-group-item"><i class="glyphicon glyphicon-file ic"></i>Subitem 2</a>
              		<a href="javascript:;" class="list-group-item"><i class="glyphicon glyphicon-file ic"></i>Subitem 3</a>
            		</div>
            		<a href="#demo4" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu"><i class="glyphicon glyphicon-folder-open ic"></i>Item 4</a>
       			<div class="collapse" id="demo4">
          		<a href="" class="list-group-item"><i class="glyphicon glyphicon-file ic"></i>Subitem 1</a>
          	</div>
      	</div>
      <li><%= link_to 'Log out', logout_path, method: 'delete' %></li>
      </div>

    <!-- /#sidebar-wrapper -->
  </div>