<div id="container-fluid">
		<div class="jumbotron">
		<center>
			<h2 class="subtitle">Você não tem acesso a este documento ou diretório!</h2>
			<h4> A página que você está tentando acessar não é pública e você não tem permissão para visualizá-la.<br>
			Peça permissão ao dono do documento ou diretório ou entre com uma conta que tenha acesso ao mesmo.</h4>
<br>
			<%= link_to 'Voltar', get_current_folder, class: 'btn btn-primary' %>
			</center>

	</div>
</div>
