<div id="container-fluid">
		<div class="jumbotron">
		<center>
			<h2>Você não tem acesso a este documento!</h2>
			<h4> O arquivo que você está tentando acessar não é público e você não tem permissão para visualizá-lo.<br>
			Peça permissão ao dono do documento ou entre com uma conta que tenha acesso ao documento.</h4>
<br>
			<%= link_to 'Voltar', get_current_folder, class: 'btn btn-primary' %>
			</center>

	</div>
</div>
