<body class="login-bg">
<div class="panel-body">
<div id="container-fluid">
			<center>
			<h1 class ="subtitle"><span class ="glyphicon glyphicon-lock" ></span></h1>
			<h2 class="subtitle">
			Você não tem acesso a este documento ou pasta!</h2>
			<h4> <i>A página que você está tentando acessar não é pública e você não tem permissão para visualizá-la.<br>
			Peça permissão ao dono do documento ou pasta, ou entre com uma conta que tenha acesso.</i></h4>
<br>
			<% unless get_current_user.nil?%> <%=  link_to 'Voltar', get_current_folder, class: 'btn btn-primary' %> <% end %>
			</center>

	</div>
</div>
</body>