<nav class="navbar navbar-default navbar-static-top">
	<ul>
		<li>
			<a class="navbar-brand" href="/home">
        		<%= image_tag('topbox_logo.png', :size => '130x40', :alt => 'logo') %>
    		</a>
	</ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">Minha conta</a></li>
        <li><a href="/logout" style="margin-right: 60px">Log out</a></li>
    </ul>
</nav>