<nav class="navbar navbar-default navbar-">
	<ul>
		<li>
			<a class="navbar-brand" href="/mytopbox">
        		<%= image_tag('topbox_logo2.png', :size => '118x40', :alt => 'logo') %>
    	</a>
        </li>
	</ul>

	<ul class="nav navbar-nav navbar-right">
        <li><a><b style="color: #DAE5F8"><%= get_current_user.first_name %> <%= get_current_user.last_name %></b></a></li>
        
        <li><a href="/mytopbox/"><b style="color: #DAE5F8">Meu Topbox</b></a></li>
        <li><a href=<%=logout_path %> data-method="delete" rel="nofollow" style="margin-right: 60px"><b style="color: #DAE5F8">Sair</b></a></li>
    </ul>
</nav>
