<nav class="navbar navbar-default navbar-static-top">
	<ul>
		<li>
			<a class="navbar-brand" href="/mytopbox">
        		<%= image_tag('topbox_logo2.png', :size => '118x40', :alt => 'logo') %>
    	</a>
    </li>
	</ul>

	<ul class="nav navbar-nav navbar-right">

        <li><a><b style="color: #DAE5F8"><%= current_user.first_name %> <%= current_user.last_name %></b></a></li>
        <li><a href="/mytopbox/" style="margin-right: 60px"><b style="color: #DAE5F8">My Topbox</b></a></li>
        <li><a style="margin-right: 60px"><b style="position:relative; top: -15px;"><%= link_to 'Log out', logout_path, method: 'delete' %></b></a></li>
    </ul>
</nav>