    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="menu sidebar-nav">
                <li>
                    <h4>Essa div vai conter foto e informações do usuário</h4>
                </li>
                <li>
                	<h4> Apartir daqui ficarao as pastas do usuario </h4>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->