@import "bootstrap-sprockets";
@import "bootstrap";

/* universal 
*= require bootsy
*= require_self
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.list-show
{
  background: white;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 1 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 1;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
}

.login-bg {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

#logo-container{
  margin: auto;
  margin-bottom: 15px;
  width:230px;
  height:67px;
}

.btn-login {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
  background: #008BED !important;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-logout {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
  background: #008BED !important;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  padding: 8px;
  margin-left: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-primary {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background: #008BED;
    color: #ffffff;
}

.form .message {
  margin: 15px 0 0;
  color: #6a6a75;
  font-size: 14px;
}
.form .message a {
  color: #2251A6;
  text-decoration: none;
}
.form .message a:hover {
  text-decoration: underline;
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  color: #2251A6;
  font-weight: bold;
}

.silver {
  color: #808080;
}

.select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  outline: 0;
  border-radius: 3px;
  border: 1px solid #CFCFCF;
  background: #FFFFFF;
  padding: 5px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
    
.select:hover {
  background-color: #FFFFFF;
}




/* Navbar */

.navbar {
  background-color: #2251A6;
}

li {
    display: block;
}


/* Home */

.content {
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

#content-table {
  width: 100%;
  height: 100%;
}

/* Button */

.btn-circle.btn-xl {
  width: 54px;
  height: 54px;
  margin: 2px;
  padding: 10px 10px;
  font-size: 22px;
  border-radius: 35px;
}

.lower-right {
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.lower-left {
  position: absolute;
  bottom: 10px;
  left: 50px;
}

.btn-menu {
  position: absolute;
  bottom: 10px;
  right: 115px;
}

/* Modals */

.modal-backdrop {
  background: none;
}

.modal-header-primary {
  color:#fff;
    padding:5px 10px;
    max-height: 80px;
    border-bottom:1px solid #eee;
    background-color: #008BED;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* Documents */

.wysihtml5-toolbar {
    margin-left: -40px;
}

.wysihtml5-toolbar li {
    display: inline;
}

.doc-area {
  height: 100%;
  margin-bottom: 10px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.document-text {
  font-family: 'Roboto', sans-serif;
  font-style:  bold;
  min-height: 400px;
  min-width: 700px;
}

.wysihtml5-editor {
  border: none;
  box-shadow: none;
}

.wysihtml5-editor:focus {
  border: none;
  box-shadow: none;
}